.container_principal {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #7b7b7b;
    border: solid 1px  #7b7b7b ;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(5, 5, 5, 0.334);

}

h1{
    font-size: 2.5em;
    margin-bottom: 0.5Em;
    color: black;

}

span{
font-weight: bold;

   
   
}